@use "variables" as *;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $text-color;
  line-height: 1.6;
}

.flex-root {
  display: flex;
}

.flex-vert {
  @include flexCenter;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
